:root {
  --primary: #e5e5e5;
  --secondary: #262523;
  --accent: #F2CECE;
  --black: #000000;
  --font-secondary: #F2CFCE;
  --white: #FFFFFF;
}

html {
  box-sizing: border-box
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

body, html {
  min-height: 100%
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  max-width: 1780px;
  background: var(--primary);
  padding: 0 calc(1.5rem + 2vw);
  font-family: 'Noto Sans JP', sans-serif;
}

.nav-header {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

.nav-list__item {
  padding: 0 2rem;
  list-style-type: none;
  text-transform: uppercase;
}

.site-name {
  position: relative;
  width: fit-content;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.site-name h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

.site-name h1>span:first-child {
  top: 0.5rem;
  line-height: 1;
  right: -1.25rem;
  font-weight: 400;
  font-size: 2.5rem;
  position: absolute;
}

.site-name__tag {
  font-weight: 400;
  margin-top: -0.5rem;
  font-size: 0.875rem;
}

.site-name__tag span {
  font-weight: 900;
}

.nav-header button {
  border: none;
  padding: 1rem;
  cursor: pointer;
  appearance: none;
  background: none;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    display: none;
  }
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(3.5rem + 2vw) 0 calc(1.75rem + 1vw);
}

.main-header h1 {
  width: 100%;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: clamp(2.5rem, calc(4rem + 2.5vw), 5rem);
}

.main-header h1:last-child {
  text-align: right;
}

.main-header .dot {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  display: inline-block;
  background: var(--black);
}

@media screen and (max-width: 600px) {
  .main-header h1 {
    font-size: 2.5rem
  }
  .main-header .dot {
    width: 2rem;
    height: 2rem;
  }
}

.intro-image {
  padding: calc(3.5rem + 2vw) 0 calc(1.75rem + 1vw);
}

.intro-image figure {
  width: 100%;
  height: 100%;
  max-height: 600px;
  perspective: 1000px;
  /* padding: calc(3.5rem + 2vw) 0; */
}

.intro-image img {
  position: relative;
  /* opacity: 0; */
  width: 100%;
  height: 100%;
  /* transition: all 4s; */
  /* transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(40deg) rotateY(0deg) rotateZ(0deg); */
}

.appear img {
  opacity: 1;
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

/* .intro-image.appear img {
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
} */

@keyframes test {
  from {
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(-330deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

.intro {
  padding-bottom: 40vh;
}

.hero__image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 15%;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section--intro {
  position: relative;
  justify-content: center;
}